@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkslategray;
    background: linear-gradient(45deg,rgb(41, 54, 54),rgb(85, 109, 109));

}

#calculator{
    border: 1px solid rgb(176, 172, 172);
    border-radius: 16px;
    padding: 20px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(96, 97, 99, 0.5);   

}

#display{
    background-color: rgb(221, 221, 221);
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    box-shadow: 0px -3px 15px rgba(84, 84, 84, 0.1);
    text-align: right;
    cursor: pointer;
    color: white;
    
}

#display::placeholder{
    color: white;
}

.button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background: transparent;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    transition: ease-in 300ms;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(93, 119, 97);
}

#oparator-btn{
    color: rgb(129, 183, 129);
}

#equalButton{
    background-color:rgb(210, 142, 6);
}