


#calculator{
    width: 200px;
    border: 1px solid rgb(176, 172, 172);
    background-color: white;
    border-radius: 5px;
    
    
}
#display{
    background-color: white;
    width: 85%;
    margin: 10px;
    height: 90px;

    /* font-size: 25px; */
}

.button{
    width: 40px;
    height: 40px;
    background-color: white;
    margin: 3px;
    border-radius: 5px;
}

#button-container{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}



#equalButton{
    width: 86px;
    
}